* {
    font-family: 'Geologica', sans-serif;
    font-weight: 300;
}

.cards__container {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card__wrap {

    display: flex;
    flex-direction: column;
    justify-content:  space-between;
    padding: .3rem;
    margin-bottom: 3rem;
    min-width: 25%;
    width: 40%;
    border: 1px solid rgb(16, 16, 52);
    border-radius: 1rem;
    box-shadow: 1px 5px 5px 6px rgb(16, 16, 52), 0 0 0 5px rgb(16, 16, 52);
}

.card__name {
    font-family: 'Russo One', sans-serif; 
    text-align: center;
}

.card>p {
    margin-left: 1rem;
}

img {
    width: 100%;
    max-width: 100%;
}

.stars {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card__starWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    max-width: 60%;
    margin: 1rem auto 1rem auto;
}

@media (max-width: 720px) {
    .card__wrap {
        min-width: 25%;
        width: 90%;
    }
}

@media (max-width: 450px) {
    .card__wrap {
        min-width: 25%;
        width: 97.5%;
    }
}